<nav>
  <div class="logo">Arun's Blog</div>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (!user) { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    <% } else { %>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/posts/new">Create Post</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } %>
    <li><a href="/posts">All Posts</a></li>
  </ul>

</nav>
